<div class="container">
  <h1>Teddies</h1>
  <div class="cards" style= "display: flex;">
    <% @teddies.each do |teddy| %>
      <div class="card-category" style= " margin: 10px">
        <div class="thumbnail">
         <%= link_to image_tag(teddy.photo_url, height: 200, width: 200), teddy_path(teddy) %>
          <div class="caption">
            <h3><%= link_to teddy.name, teddy_path(teddy) %></h3>
            <p><%= teddy.category.name %></p>
            <p>Amount: <%= humanized_money_with_symbol(teddy.price) %></p>

            <a href="#!" class="paddle_button" data-product="556102">Buy Now!</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script src="https://cdn.paddle.com/paddle/paddle.js"></script>
<script type="text/javascript">
  Paddle.Setup({ vendor: 36879 });
</script>


